@import '../abstracts/mixins';
@import '../abstracts/variables';
@import '../abstracts/placeholders';

* {
    transition: 0.6s ease-in-out;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: $BODY_COLOR;

    display: grid;
    grid: 20px 1fr 40px / 1fr minmax(380px, 1440px) 1fr;
    grid-template-areas:
        '... ... ..'
        '.. cont ..'
        '.. ... ..';
    font-family: 'Inter', sans-serif;
    font-style: normal;
    overflow-x: hidden;
    margin: 0 auto;

}

.wrap-box {
    padding: 0 40px;

    @media screen and (max-width: 540px) {
        padding: 0 16px;
    }


}

.layout-container {
    display: flex;
    flex-direction: column;
    flex-basis: 1440px;
    flex-shrink: 1;
    flex-grow: 1;
    grid-area: cont;
    // border: 1px solid black;
}

.accent-text {
    @extend %accent-font;
}

.header-block {
    margin-bottom: 16.5px;

    &__header {
        position: relative;
        display: flex;
        align-items: center;
    }

    &__wrap {
        padding: 0 0 6px 0;
    }

    &__nav-wrap {
        position: relative;
        display: flex;
        justify-content: center;
        flex-grow: 1;
        margin-left: -1px;
    }

    &__nav-list {
        display: flex;
        gap: 40px;
        list-style-type: none;
    }

    &__menu-button_burger {
        display: none;
    }

    &__link,
    &__button {
        @include secondaryFont($fontWeight: 600);
        @include underscoreOnHover();

        display: inline-block;
        box-sizing: content-box;
        padding: 5px 0 5px 0;
        text-decoration: none;

        &::after {
            display: block;
            box-sizing: content-box;
            padding-top: 1px;
            content: '';
            border-bottom: 2px solid hsla(40, 2%, 25%, 0);
            transition: $smoothChange;
        }

        &:hover {
            cursor: pointer;
        }

        @media (hover: none) and (pointer: coarse) {
            @include underscoreOnHover($display: none);
            cursor: none;

            &::after {
               display: none;
            } 

        }

    }

    &__button {
        position: relative;
        display: inline-block;
        width: 72px;
        text-align: left;
        background-color: transparent;
        background: url(../../images/svg/coffee-cup.svg) no-repeat right top 5px;
        background-size: 20px;
        border: none;

        &-link {
            @extend %button-link;
        }
    }

    &__burger {
        display: none;
    }
    &__nav-close {
        display: none;
    }

    @media screen and (max-width: 768px) {
        
        &__logo-wrap {
           position: relative;
           z-index: 11; 
        }
        &__nav {
            position: fixed;
            top: 84px;
            left: 0;
            z-index: 5;
            width: 100vw;
            height: 100lvh;
            background-color: $BODY_COLOR;
            justify-content: center;
            transform: translateX(100vw);
            display: block;
            transition: 0s;
            transition: transform 0.4s; //translate smoothness?
            // flex-direction: column;

            .header-block__button,
            .header-block__link {
                @include mainFont($fontSize: 32px);
                @media (hover: hover) {
                    margin-bottom: -3px
                }
            }

        }

        &__nav-list {
            position: absolute;
            align-items: center;
            width: 100%;
            top: 71px;
            flex-direction: column;
            z-index: 6;
        }

        &__nav-item {
            margin-bottom: 10px;
        }

        &__menu-button_burger {
            display: block;
            margin-top: 40px;

            .header-block__button {
                width: 143px;
                background: url(../../images/svg/coffee-cup__burger-menu.svg) no-repeat right top 5px;
            }
        }

        &__menu-button-wrap {
            display: none;
        }

        &__burger {
            display: block;
            height: 49px;
        }

        .burger {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 11;
            @include rounded-button($width: 44px, $height: 44px, $border: 1px solid $DARK_BORDER);
            transition: $fastChange;
            
            &__line {
                position: absolute;
                display: block;
                width: 16px;
                height: 1px;
                border-radius: 2px;
                background-color: $DARK_TEXT;
                transition: $fastChange;

                &_first {
                    transform: translateY(-4px);
                }

                &_second {
                    transform: translateY(4px);
                }
            }

            @media (hover: hover) {
                &:hover {
                    cursor: pointer;
                    background-color: $CONTAINER_COLOR;

                    .burger__line {
                        background-color: $BODY_COLOR;
                    }
                }
            }
            
        }


        // &__nav-close {
        //     display: none;
        //     position: absolute;
        //     top: 28px;
        //     right: 40px;

        //     @media screen and (max-width: 540px) {
        //         right: 16px;
        //     }
        // }
        // .close-button {
        //     position: relative;
        //     display: flex;
        //     justify-content: center;
        //     align-items: center;
        //     @include rounded-button($width: 44px, $height: 44px, $border: 1px solid $DARK_BORDER);

        //     &__line {
        //         position: absolute;
        //         display: block;
        //         width: 16px;
        //         height: 1px;
        //         border-radius: 2px;
        //         background-color: $DARK_TEXT;

        //         &_first {
        //             transform: rotate(45deg);
        //         }

        //         &_second {
        //             transform: rotate(-45deg);
        //         }

        //     }


        // }
    }
}

.enjoy-section {
    margin-bottom: 100px;

    .enjoy-section__banner {
        position: relative;
        width: 100%;
        padding: 6.25rem;
        border-radius: 42px;
        background: url(../../images/img-hero.jpg) no-repeat right;
        background-size: cover;
        overflow: hidden;
        transition: 0.6s;

        @media screen and (max-width: 800px) {
            padding: 6.25rem 3.72rem;
        };

        @media screen and (max-width: 540px) {
            padding: 3.74rem 1rem;
        };
    }

    #background-video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
           object-fit: cover;
    }

    .video-screen {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.359); 
    }

    .enjoy-section__content-wrap {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 39.6px;
        max-width: 540px;
        padding-top: 1px

    }

    .enjoy-section__heading {
        @include mainFont($lineHeight: 105%, $mainColor: $LIGHT_TEXT, $fontSize: 72px);
        @include adaptive-font-size($mobileFontSize: 42, $pcFontSize: 72);

        @media screen and (max-width: 540px) {
            line-height: 114%;
        }
    }

    .enjoy-section__desc {
        @include secondaryFont($LIGHT_TEXT);
        box-sizing: content-box;
    }

    .enjoy-section__button {
        @include rounded-button($bgColor: $BODY_COLOR);
        @include secondaryFont($fontWeight: 600, $lineHeight: 180%);
        @extend %hovered;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        height: 65px;
        // transition: $smoothChange;
        transition: 0.3s ease-in, 0.3s ease-in;


        &::after {
            display: inline-block;
            content: '';
            position: absolute;
            top: 20px;
            right: 64px;
            width: 20px;
            height: 20px;
            background: url(../../images/svg/coffee-cup.svg) no-repeat right top 1px;
            background-size: contain;
            -webkit-filter: opacity(0);
            filter: opacity(0);
            transition: $smoothChange;

        }

        &:hover {
            padding-right: 28px;
        }

        &:hover::after {
            -webkit-filter: opacity(1);
            filter: opacity(1);
        }

        &-link {
            @extend %button-link-rounded;
        }

        @media (hover: none) and (pointer: coarse) {
            padding-right: 28px;
            cursor: none;

            &::after {
                -webkit-filter: opacity(1);
                filter: opacity(1);
            } 

        }
    }
}

.favorites-coffee-section {
    margin-bottom: 98px;

    @media screen and (max-width: 768px) {
        margin-bottom: 100px;
    }

    .favorites-coffee-section__heading {
        @include mainFont();
        @include adaptive-font-size($mobileFontSize: 32, $pcFontSize: 60);
        text-align: center;
        margin-bottom: 40px;
    }

    .favorites-coffee-section__slider {
        display: flex;
        flex-direction: column;
        max-height: 684px;
        gap: 40px;

        @media screen and (max-width: 680px) {
            align-items: center;
        }
    }

    .slider__represent-block {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        // gap: 40px;
    }

    .slider__button-wrap {
        display: flex;
        align-items: center;
        padding: 5px;

        @media screen and (max-width: 768px) {
            padding: 0;
        }

        @media screen and (max-width: 680px) {
            display: none;
        }

    }

    .slider__button {
        @include rounded-button($width: 60px, $height: 60px, $bgColor: $BODY_COLOR, $border: 1px solid $DARK_BORDER);
        display: flex;
        justify-content: center;
        align-items: center;
        transition: $smoothChange;
        margin-top: -3px;
        
        &:hover {
            @extend %hovered;
            background-color: $CONTAINER_COLOR;
            
        }

        &.button-left::before {
            display: inline-block;
            width: 24px;
            height: 24px;
            content: '';
            background: url(../../images/svg/arrow-left__dark.svg) no-repeat center;
            transition: $smoothChange;
        }

        &.button-right::after {
            display: inline-block;
            width: 24px;
            height: 24px;
            content: '';
            background: url(../../images/svg/arrow-right__dark.svg) no-repeat center;
            transition: $smoothChange;
        }


        &.button-right:hover::after,
        &.button-left:hover::before {
            @extend %invert-color ;

        }
        
        @media (hover: none) and (pointer: coarse) {

            &:hover {
                cursor: none;
                background-color: $BODY_COLOR;
            }

            &.button-right:hover::after,
            &.button-left:hover::before {
                -webkit-filter: none !important; 
                        filter: none !important;
            }
        }

        
    }

    .slider__content {
        display: flex;
        justify-content: center;
        flex-grow: 1;
    }

    .slider__content-wrap {
        position: relative;
        max-height: 640px;
        max-width: 480px;
        overflow: hidden;
    }

    .slider__articles {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .slider__article {
        display: flex;
        flex-direction: column;
       width: auto;
        height: auto;
        max-height: 640px;
        flex-shrink: 1;
        flex-basis: 480px;
    }

    .slider__image-wrap {
        display:block;
        width:100%; 
        margin-bottom: 16px;
        img {
            display:block;
            width:100%; 
            height: auto;
            -o-object-fit: cover;
                object-fit: cover;
        }
        
    }

    .slider__drink-info {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 16px;
        text-align: center;
    }

    .slider__drink-name,
    .slider__drink-price {
        @include secondaryFont($fontSize: 24px, $fontWeight: 600, $lineHeight: 125%)
    }

    .slider__drink-desk {
        @include secondaryFont();
    }

    .slider__pagination-block {
        display: flex;
        justify-content: center;
    }

    .slider__pagination-buttons {
        display: flex;
        gap: 12px;
    }

    .slider__pagination-button {
        display: inline-block;
        width: 40px;
        height: 4px;
        background-color: $LIGHT_BORDER;
        border-radius: 100px;
        overflow: hidden;

        .pagination-fill {
            background-color: $DARK_BORDER;
            display: block;
            width: 0%;
            height: 100%;
        }
    }

    



    

}

.about-section {
    margin-bottom: 99px;

    @media screen and (max-width: 768px) {
        margin-bottom: 101px;
    }

    &___desc {
        @include mainFont();
        @include adaptive-font-size($mobileFontSize: 32, $pcFontSize: 60);
        margin-bottom: 40px;
    }

    &___photos-wrap {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;

        @media screen and (max-width: 1100px) {
            gap: 28px;
        }

        @media screen and (max-width: 768px) {
            grid-template-columns: 1fr;
            gap: 40px;
            
            :nth-child(2),
            :nth-child(3) {
                display: none;
                
            }

            :nth-child(1),
            :nth-child(4) {
                
                &:only-child {
                    transform: scale(106%);
                }
            }
            
        }

        @media screen and (max-width: 400px) {
            :nth-child(1),
            :nth-child(4) {
                
                &:only-child {
                    transform: scale(122%);
                }
            }
        }

    }

    &___photo-container {
        border-radius: 20px;
        overflow: hidden;

        &.photo-big {
            height: 590px;
            grid-row: span 2
        }
        
        &.photo-small {
            height: 430px;
            grid-row: span 1
        }

        &.photo1 {
            order: 1;
        }
    
        &.photo2 {
            order: 5;
        }
    
        &.photo3 {
            order: 2;
        }
    
        &.photo4 {
            order: 4;
        }

    }

    &___photo {
       transition: $smoothPhotoScale;
       width: 100%;
       height: 100%;
       -o-object-fit: cover;
       object-fit: cover;
       transform: scale(110%);

       &:hover {
        transform: scale(100%);
       }

       @media (hover: none) and (pointer: coarse) {
        cursor: none;

        &:hover {
            transform: scale(110%);
        }

        }
    }
}

.mobile-app-section {
    margin-bottom: 95.5px;

    @media screen and (max-width: 768px) {
        margin-bottom: 95px;
    }

    &__content-wrap {
        display: flex;
        justify-content: space-between;
        
        @media screen and (max-width: 1270px) {
            flex-direction: column;
            align-items: center;
            text-align: center;
            gap: 100px;
        }

        @media screen and (max-width: 768px) {
            text-align: start;
            gap: 98px;
        }

        @media screen and (max-width: 540px) {
            gap: 36px;
        }
    }

    &__image {
        position: relative;
        margin-top: 2px;

        @media screen and (max-width: 760px) {
            width: 100%;
            height: auto;
            -o-object-fit: cover;
               object-fit: cover;
        }
    }

    &__info-wrap {
        display: flex;
        align-items: center;
        max-width: 630px;

        @media screen and (max-width: 1270px) {
            max-width: 754px;
        }

    }

    &__info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 40px;

        @media screen and (max-width: 1270px) {
            align-items: center
        }
        
        @media screen and (max-width: 768px) {
            align-items: start;
        }
        
    }

    &__heading {
        @include mainFont();
        @include adaptive-font-size($mobileFontSize: 32, $pcFontSize: 60);
    }

    &__desc {
        @include secondaryFont;
    }

    &__buttons {
        display: flex;
        gap: 20px;
        margin-top: -3px;

        @media screen and (max-width: 768px) {
            box-sizing: content-box;
            padding-top: 3px;
        }

        @media screen and (max-width: 440px) {
            flex-direction: column;
        }
    }

    &__button {
        @include rounded-button($bgColor: rgba(1, 1, 1, 0), $width: 200px, $height: 64px, $border: 1px solid $DARK_BORDER);
        display: flex;
        gap: 8px;
        padding: 12px 20px;
        transition: $smoothChange;

        .button-icon {
            display: block;
            width: 36px;
            height: 36px;
            margin-left: -1px;
            margin-top: 1px;
            transition: 0.1s;


            &__ios-icon {
               background: url(../../images/svg/icon_ios.svg) no-repeat center top 0px;
               background-size: 34px;
            }

            &__android-icon {
                background: url(../../images/svg/icon_android__dark.svg) no-repeat center top 0px;
               background-size: 34px;
            }
        }

        .button-text-small {
            @include secondaryFont($fontSize: 10px, $fontWeight: 600, $lineHeight: 140%);
            display: block;
            text-align: start;
            
        }

        .button-text-big {
            @include secondaryFont($fontSize: 16px, $fontWeight: 600, $lineHeight: 150%);
            display: block;
            text-align: start;
            margin-top: 1px;
            
        }

        &:hover {
            @extend %hovered;
            background-color: $CONTAINER_COLOR;

            .button-text-small,
            .button-text-big {
                color: $LIGHT_TEXT;
            }

            .button-icon {
                &__ios-icon,
                &__android-icon {
                    @extend %invert-color;
                }
            }
        }

        @media (hover: none) and (pointer: coarse) {
            cursor: none;
            background-color: $BODY_COLOR;
    
            &:hover .button-text-small,
            &:hover .button-text-big {
                color: $DARK_TEXT;
            }

            &:hover {
                background-color: $BODY_COLOR;
            }

            &:hover .button-icon {
                &__ios-icon,
                &__android-icon {
                   -webkit-filter: none !important;
                           filter: none !important;
                }
            }
    
        }
    }

}

.footer-block {

    &__content-wrap {
        display: flex;
        flex-direction: row;
        gap: 100px;
        padding: 6.25rem;
        background-color: $CONTAINER_COLOR;
        border-radius: 40px;

        @media screen and (max-width: 1093px) {
            flex-direction: column;
            gap: 68px;
            padding: 6.25rem 3.75rem 4.3rem;
        }

        @media screen and (max-width: 530px) {
            padding: 3.74rem 1rem;
            gap: 10px;
        };
    }

    &__socials {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 30px;
        max-width: 530px;

        @media screen and (max-width: 1093px) {
            gap: 40px;
        }
    }

    &__heading {
        @include mainFont($mainColor: $LIGHT_TEXT);
        @include adaptive-font-size($mobileFontSize: 32, $pcFontSize: 60);
    }

    &__buttons {
        display: flex;
        gap: 12px;
    }

    &__button {
        $buttonWidth: 60px;
        $buttonHeight: 60px;

        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: $buttonWidth;
        height: $buttonHeight;
        background-color: $CONTAINER_COLOR;
        border: 1px solid $LIGHT_BORDER;
        border-radius: 100px;
        transition: $smoothChange;

        &-twitter {
            display: inline-block;
            width: $buttonWidth;
            height: $buttonHeight;
            background: url(../../images/svg/ico_twitter__light.svg) no-repeat center;
            transition: $smoothChange;

            &:hover {
                @extend %invert-to-dark;
            }
        }

        &-instagram {
            display: inline-block;
            width: $buttonWidth;
            height: $buttonHeight;
            background: url(../../images/svg/icon_instagram__light.svg) no-repeat center;
            transition: $smoothChange;

            &:hover {
                @extend %invert-to-dark;
            }
        }

        &-facebook {
            display: inline-block;
            width: $buttonWidth;
            height: $buttonHeight;
            background: url(../../images/svg/ico_facebook__light.svg) no-repeat center;
            transition: $smoothChange;

            &:hover {
                @extend %invert-to-dark;
            }
        }

        &:hover {
            @extend %hovered;
            background-color: $LIGHT_TEXT;
        }

        @media (hover: none) and (pointer: coarse) {
            &:hover {
                cursor: none;
                background-color: $CONTAINER_COLOR;
            }
    
            :hover:nth-child(n + 1) {
                -webkit-filter: none;
                        filter: none;
            }
    
        }

    }

    &__contact-us {
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 32px 0 35px 0;

        @media screen and (max-width: 530px) {
            padding: 32px 0 3px 0;
        };
    }

    &__contact-us-heading {
        @include secondaryFont($fontSize: 24px, $color: $LIGHT_TEXT, $fontWeight: 600);
        margin-top: -2px;
    }

    &__contacts-wrap {
        @include secondaryFont($color: $LIGHT_TEXT, $fontWeight: 600);
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    &__line-wrap {
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        list-style: none;

        &.location-line {
            margin-top: 4px;
        }

        .line-icon {
            position: relative;
            top: 3px;
            display: inline-block;
            width: 20px;
            height: 20px;
            margin-right: 8px;

            &.footer-block__location-icon {
                background: url(../../images/svg/pin-alt.svg) no-repeat center;
                top: 3px;
            }

            &.footer-block__phone-icon {
                background: url(../../images/svg/ico_phone__light.svg) no-repeat center;
                top: 1px;
            }

            &.footer-block__clock-icon {
                background: url(../../images/svg/ico_clock__light.svg) no-repeat center;
                top: 1px;
            }
            
        }

        .margin {
            margin-left: 3px;
        }
    }



    &__link {
        @include underscoreOnHover($color: $LIGHT_TEXT, $size: 1px);
        color: $LIGHT_TEXT;
        text-decoration: none;
        
        &::after {
            display: block;
            box-sizing: content-box;
            padding-top: 2px;
            content: '';
            border-bottom: 1px solid hsla(40, 2%, 25%, 0);
            // border-radius: 5px;
            transition: $smoothChange;
        }

        @media (hover: none) and (pointer: coarse) {
            &:hover {
                @include underscoreOnHover($color: transparent);

            }
    
        }
    }




}