@import '../abstracts/mixins';
@import '../abstracts/variables';
@import '../abstracts/placeholders';

html {
    scroll-behavior: smooth;
}

body {
    background-color: $BODY_COLOR;

    //test
    display: grid;
    grid: 20px 1fr 40px / 1fr minmax(380px, 1440px) 1fr;
    grid-template-areas:
        '... ... ..'
        '.. cont ..'
        '.. ... ..';
    font-style: normal;
}

.wrap-box {
    padding: 0 40px;
}

.layout-container {
    display: flex;
    flex-direction: column;
    flex-basis: 1440px;
    flex-shrink: 1;
    flex-grow: 1;
    grid-area: cont;
    // border: 1px solid black;
}

.accent-text {
    @extend %accent-font;
}

.header-block {
    margin-bottom: 20px;

    .header-block__header {
        display: flex;
    }

    .header-block__wrap {
        padding: 15px 0 0;
    }

    .header-block__nav-wrap {
        display: flex;
        justify-content: center;
        flex-grow: 1;
    }

    .header-block__nav-list {
        display: flex;
        gap: 40px;
        list-style-type: none;
    }

    .header-block__link,
    .header-block__button {
        @include secondaryFont($fontWeight: 600);
        @include underscoreOnHover();

        display: inline-block;
        box-sizing: content-box;
        padding: 5px 0 5px 0;
        text-decoration: none;
        cursor: pointer;

        &::after {
            display: block;
            content: '';
            border: 2px solid hsla(40, 2%, 25%, 0);
            border-radius: 5px;
            transition: 0.6s ease;
        }

    }

    .header-block__button {
        position: relative;
        display: inline-block;
        width: 72px;
        text-align: left;
        background-color: transparent;
        background: url(../../images/svg/coffee-cup.svg) no-repeat right top 5px;
        background-size: 20px;
        border: none;

        &-link {
            @extend %button-link;
        }
    }
}

.enjoy-section {
    margin-bottom: 100px;

    .enjoy-section__banner {
        width: 100%;
        padding: 100px;
        border-radius: 35px;
        background: url(../../images/img-hero.jpg) no-repeat right;
        background-size: cover;
    }

    .enjoy-section__content-wrap {
        display: flex;
        flex-direction: column;
        gap: 40px;
        max-width: 540px;
    }

    .enjoy-section__heading {
        @include mainFont($lineHeight: 105%, $mainColor: $LIGHT_TEXT, $fontSize: 72px);
    }

    .enjoy-section__desc {
        @include secondaryFont($LIGHT_TEXT);
    }

    .enjoy-section__button {
        @include rounded-button($bgColor: $BODY_COLOR);
        @include secondaryFont($fontWeight: 600, $lineHeight: 180%);
        @extend %hovered;
        position: relative;
        transition: 0.6s;

        &::after {
            display: inline-block;
            content: '';
            position: absolute;
            top: 18px;
            right: 58px;
            width: 20px;
            height: 20px;
            background: url(../../images/svg/coffee-cup.svg) no-repeat right top 1px;
            background-size: contain;
            -webkit-filter: opacity(0);
            filter: opacity(0);
            transition: 0.6s;
        }

        &:hover {
            padding-right: 18px;
        }

        &:hover::after {
            -webkit-filter: opacity(1);
            filter: opacity(1);
        }

        &-link {
            @extend %button-link-rounded;
        }
    }
}

.favorites-coffee-section {
    margin-bottom: 100px;

    .favorites-coffee-section__heading {
        @include mainFont();
        text-align: center;
        margin-bottom: 40px;
    }

    .favorites-coffee-section__slider {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .slider__represent-block {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .slider__button-wrap {
        display: flex;
        align-items: center;
        padding: 5px;
    }

    .slider__button {
        @include rounded-button($width: 60px, $height: 60px, $bgColor: $BODY_COLOR, $border: 1px solid $DARK_BORDER);
        @extend %hovered;
        transition: 0.4s;
        
        &:hover {
            background-color: $CONTAINER_COLOR;
        }

        &.button-left::before {
            display: inline-block;
            width: 24px;
            height: 24px;
            content: '';
            background: url(../../images/svg/arrow-left__dark.svg) no-repeat center;
            transition: 0.4s;
        }

        &.button-right::after {
            display: inline-block;
            width: 24px;
            height: 24px;
            content: '';
            background: url(../../images/svg/arrow-right__dark.svg) no-repeat center;
            transition: 0.4s;
        }


        &.button-right:hover::after,
        &.button-left:hover:before {
            @extend %invert-color ;
        }
        


        
    }

    .slider__content-wrap {
        flex-grow: 1;
    }

    .slider__articles {
        display: flex;
        justify-content: center; //временно
    }

    .slider__article {
        max-width: 480px; /*just like the picture width*/
    }

    .slider__image-wrap {
        margin-bottom: 20px;
    }

    .slider__drink-info {
        display: flex;
        flex-direction: column;
        gap: 16px;
        text-align: center;
    }

    .slider__drink-name,
    .slider__drink-price {
        @include secondaryFont($fontSize: 24px, $fontWeight: 600, $lineHeight: 125%)
    }

    .slider__drink-desk {
        @include secondaryFont();
    }

    .slider__pagination-block {
        display: flex;
        justify-content: center;
    }

    .slider__pagination-buttons {
        display: flex;
        gap: 12px;
    }

    .slider__pagination-button {
        display: inline-block;
        width: 40px;
        height: 4px;
        background-color: $LIGHT_BORDER;
        border-radius: 100px;

        &.slider__pagination-button--active {
            background-color: $DARK_BORDER;
        }
    }



    

}

.about-section {
    margin-bottom: 100px;

    .about-section___desc {
        @include mainFont();
        margin-bottom: 40px;
    }

    .about-section___photos-wrap {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
        // height: 1060px;
    }

    .about-section___photo-container {
        position: relative;
        width: 660px;
        border-radius: 20px;
        overflow: hidden;

        &.photo-big {
            height: 590px;
            grid-row: span 2
        }
        
        &.photo-small {
            height: 430px;
            grid-row: span 1
        }

        &.photo1 {
            order: 1;
        }
    
        &.photo2 {
            order: 5;
        }
    
        &.photo3 {
            order: 2;
        }
    
        &.photo4 {
            order: 4;
        }


    }

    .about-section___photo {
       position: absolute;
       transition: 0.9s;

        
       &.image-1 {
            top: -68px;
            right: -34px;
            transform: scale(100%);
        }

        &.image-2 {
            top: -153px;
            right: -34px;
            transform: scale(100%);
        }

        &.image-3 {
            top: -153px;
            right: -32px;
            transform: scale(100%);
        }

        &.image-4 {
            top: -68px;
            right: -34px;
            transform: scale(100%);
        }

        &:hover {
            transform: scale(91%);
        }
    }


    
    


}

.mobile-app-section {
    margin-bottom: 100px;

    .mobile-app-section__content-wrap {
        display: flex;
        justify-content: space-between;
        gap: 100px;
    }

    .mobile-app-section__info-wrap {
        display: flex;
        align-items: center;

    }

    .mobile-app-section__info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 40px;
    }

    .mobile-app-section__heading {
        @include mainFont();
    }

    .mobile-app-section__desc {
        @include secondaryFont;
    }

    .mobile-app-section__buttons {
        display: flex;
        gap: 20px;
    }

    .mobile-app-section__button {
        @extend %hovered;
        @include rounded-button($bgColor: rgba(1, 1, 1, 0), $width: 200px, $height: 64px, $border: 1px solid $DARK_BORDER);
        display: flex;
        gap: 8px;
        padding: 12px 20px;
        transition: 0.6s;

        .button-icon {
            display: block;
            width: 36px;
            height: 36px;

            &__ios-icon {
               background: url(../../images/svg/icon_ios.svg) no-repeat center top 0px;
               background-size: 34px;
            }

            &__android-icon {
                background: url(../../images/svg/icon_android__dark.svg) no-repeat center top 0px;
               background-size: 34px;
            }
        }

        .button-text-small {
            @include secondaryFont($fontSize: 10px, $fontWeight: 600, $lineHeight: 140%);
            display: block;
            text-align: start;
            
        }

        .button-text-big {
            @include secondaryFont($fontSize: 16px, $fontWeight: 600, $lineHeight: 150%);
            display: block;
            text-align: start;
            
        }

        &:hover {
            background-color: $CONTAINER_COLOR;

            .button-text-small,
            .button-text-big {
                color: $LIGHT_TEXT;
            }

            .button-icon {
                &__ios-icon,
                &__android-icon {
                    @extend %invert-color;
                }
            }
        }
    }

}

.footer-block {

    &__content-wrap {
        display: flex;
        flex-direction: row;
        gap: 100px;
        padding: 100px;
        background-color: $CONTAINER_COLOR;
        border-radius: 40px;
    }

    &__socials {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 40px;
        max-width: 530px;
    }

    &__heading {
        @include mainFont($mainColor: $LIGHT_TEXT);
    }

    &__buttons {
        display: flex;
        gap: 12px;
    }

    &__button {
        $buttonWidth: 60px;
        $buttonHeight: 60px;

        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: $buttonWidth;
        height: $buttonHeight;
        background-color: $CONTAINER_COLOR;
        border: 1px solid $LIGHT_BORDER;
        border-radius: 100px;
        transition: 0.6s;

        &-twitter {
            display: inline-block;
            width: $buttonWidth;
            height: $buttonHeight;
            background: url(../../images/svg/ico_twitter__light.svg) no-repeat center;
            transition: 0.6s;

            &:hover {
                @extend %invert-to-dark;
            }
        }

        &-instagram {
            display: inline-block;
            width: $buttonWidth;
            height: $buttonHeight;
            background: url(../../images/svg/icon_instagram__light.svg) no-repeat center;
            transition: 0.6s;

            &:hover {
                @extend %invert-to-dark;
            }
        }

        &-facebook {
            display: inline-block;
            width: $buttonWidth;
            height: $buttonHeight;
            background: url(../../images/svg/ico_facebook__light.svg) no-repeat center;
            transition: 0.6s;

            &:hover {
                @extend %invert-to-dark;
            }
        }

        &:hover {
            @extend %hovered;
            background-color: $LIGHT_TEXT;
        }

        &-link {
            @extend %button-link-rounded;
            border-radius: 100px;
        }
    }

    &__contact-us {
        display: flex;
        flex-direction: column;
        gap: 40px;
        padding: 32px 0;
    }

    &__contact-us-heading {
        @include secondaryFont($fontSize: 24px, $color: $LIGHT_TEXT, $fontWeight: 600);
    }

    &__contacts-wrap {
        @include secondaryFont($color: $LIGHT_TEXT, $fontWeight: 600);
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &__line-wrap {
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        list-style: none;

        .line-icon {
            position: relative;
            top: 3px;
            display: inline-block;
            width: 20px;
            height: 20px;
            margin-right: 8px;

            &.footer-block__location-icon {
                background: url(../../images/svg/pin-alt.svg) no-repeat center;
            }

            &.footer-block__phone-icon {
                background: url(../../images/svg/ico_phone__light.svg) no-repeat center;
            }

            &.footer-block__clock-icon {
                background: url(../../images/svg/ico_clock__light.svg) no-repeat center;
            }
            
        }
    }

    &__link {
        @include underscoreOnHover($color: $LIGHT_TEXT, $size: 0.5px);
        color: $LIGHT_TEXT;
        text-decoration: none;
        
        &::after {
            display: block;
            content: '';
            border: 0.5px solid hsla(40, 2%, 25%, 0);
            border-radius: 5px;
            transition: 0.6s ease;
        }
    }




}

