@import '../abstracts/mixins';
@import '../abstracts/variables';
@import '../abstracts/placeholders';
body [hidden] {
    display: none;
}

.no-animation {
    &:hover::after {
        -webkit-animation: none;
                animation: none;
    }

    &:hover {
        cursor: default;
    }

    &::after {
        display: block;
        border-color: $DARK_BORDER;
    }

    @media (hover: none) and (pointer: coarse) {
        
        &:hover::after {
            display: block;
            border-color: $DARK_BORDER;
            -webkit-animation: none;
                animation: none;
        }
    }


}



.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    

    &__dark-screen {
        position: absolute;
        width: 100%;
        height: 100%;
        background: $BACKDROP_COLOR;
    }

    .popup {
        display: block;
        position: absolute;
        width: 800px;
        height: auto;
        padding: 16px;
        background: $BODY_COLOR;
        border-radius: 40px;
        overflow: hidden;

        &__order-wrap {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 20px;
        }
    
        &__order-photo-wrap {
            display: block;
            max-height: 310px;
            max-width: 310px;
            flex-shrink: 0;
            border-radius: 40px;
            overflow: hidden;
        }
    
        &__order-photo {
            border-radius: inherit;
            transform: scale(115%)
        }

        &__item-info-wrap {
            max-width: 438px;
            flex-shrink: 0;  
        }

        &__item-name {
            @include mainFont($fontSize: 24px);
            margin-bottom: 12px;
        }

        &__order-info {
            @include secondaryFont();
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 20px;
        }

        .order-options {
            display: flex;
            flex-direction: column;
            gap: 20px
        }

        &__order-heading {
            @include secondaryFont();
            margin-bottom: 8px ;
        }

        &__button-wrap {
            display: flex;
            gap: 8px;
        }

        &__order-button {
            @include rounded-button($bgColor: $BODY_COLOR, $width: auto, $height: auto, $border: 1px solid $LIGHT_BORDER);
            @include secondaryFont($color: $DARK_TEXT, $fontSize: 16px, $fontWeight: 600, $lineHeight: 150%);
            display: flex;
            justify-content: flex-start;
            gap: 8px;
            padding: 8px 16px 8px 8px;
            transition: $smoothChange;

            & .button-inner-circle {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 30px;
                height: 30px;
                background-color: $LIGHT_BORDER;
                border-radius: 100px;
                transition: $smoothChange;
            }

            & .button-text {
                position: relative;
                top: 3px;
                transition: $smoothChange;
            }

            &--active {
                background-color: $CONTAINER_COLOR;
                border-color: $CONTAINER_COLOR;

                .button-inner-circle {
                    background-color: $BODY_COLOR;
                 }

                .button-text {
                    color: $LIGHT_TEXT;
                 }
            }

            &:hover {
                cursor: pointer;
                background-color: $CONTAINER_COLOR;
                border-color: $CONTAINER_COLOR;
    
                .button-inner-circle {
                    background-color: $BODY_COLOR;
                }
    
                .button-text {
                    color: $LIGHT_TEXT;
                }
            }
    
            &:disabled,
                button[disabled] {
                    cursor: default;
            }

            &.submit-button {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;

                &:hover {
                    color: $LIGHT_TEXT;
                }
            }

        }

        &__order-total-wrap {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }

        &__order-total-container {
            display: flex;
        }

        &__order-total, 
        &__order-price {
            @include mainFont($fontSize: 24px); 
        }

        &__order-price {
            margin: 0 0 0 auto;
        }

        &__order-total-warning {
            display: flex;
            flex-direction: row;
            gap: 8px;
            padding: 12px 0;
            border-top: 1px solid $LIGHT_BORDER;
        }

        &__warning-sign {
            display: block;
            width: 30px;
            height: 16px;
            background: url(../../images/svg/ico_info-empty.svg) no-repeat center;
            background-size: cover;
            
        }
        
        &__warning-text {
            @include mainFont($fontSize: 10px, $lineHeight: 140%);
        }
    }
}

.header-block {
    &__button--disabled {
        @include secondaryFont($fontWeight: 600);

        display: inline-block;
        box-sizing: content-box;
        width: 72px;
        padding: 5px 0 5px 0;
        text-align: left;
        text-decoration: none;
        background: url(../../images/svg/coffee-cup.svg) no-repeat right top 5px;
        background-color: transparent;
        background-size: 20px;
        border: none;

        &::after {
            display: block;
            box-sizing: content-box;
            padding-top: 1px;
            // width: 100%;
            content: '';
            border-bottom: 2px solid $DARK_TEXT;
            border-radius: 5px;
        }

        
        

        
    }

    &__button-menu {
        @include mainFont($fontSize: 32px);
    }
}



.menu-section {
    margin-bottom: 100px;

    @media screen and (max-width: 768px) {
        margin-bottom: 102.5px;
    } 

    &__content-wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;

        @media screen and (max-width: 768px) {
            gap: 38px;  
        }
    }

    &__heading {
        @include mainFont();
        @include adaptive-font-size($mobileFontSize: 32, $pcFontSize: 60);
        max-width: 800px;
        text-align: center;
    }

    &__buttons {
        display: flex;
        justify-content: center;
        gap: 15px;

        @media screen and (max-width: 768px) {
            gap: 14px;  
        }

        @media screen and (max-width: 380px) {
            gap: 0 7px;
        }
    }

    &__button {

        @include rounded-button($bgColor: $BODY_COLOR, $width: 200px, $height: 60px, $border: 1px solid $LIGHT_BORDER);
        @include secondaryFont($color: $DARK_TEXT, $fontSize: 16px, $fontWeight: 600, $lineHeight: 150%);
        display: flex;
        gap: 8px;
        width: auto;
        height: auto;
        padding: 8px 16px 8px 8px;
        transition: $smoothChange;

        .button-inner-circle {
            display: block;
            width: 30px;
            height: 30px;
            padding: 0 7px;
            background-color: $LIGHT_BORDER;
            border-radius: 100px;
            transition: $smoothChange;

            &.coffee-circle {
                background-image: url(../../images/svg/coffee_Vector.svg);
                background-repeat: no-repeat;
                background-position: center;
            }

            &.tea-circle {
                background-image: url(../../images/svg/teapot_Vector.svg);
                background-repeat: no-repeat;
                background-position: center;
            }

            &.dessert-circle {
                background-image: url(../../images/svg/dessert_Vector.svg);
                background-repeat: no-repeat;
                background-position: center;
            }
        }

        &-text {
            display: block;
            padding-top: 2px;
            transition: $smoothChange;
        }

        &--active {
            background-color: $CONTAINER_COLOR;

            .button-inner-circle {
                background-color: $BODY_COLOR;
            }

            .menu-section__button-text {
                color: $LIGHT_TEXT;
            }
        }

        &:hover {
            cursor: pointer;
            background-color: $CONTAINER_COLOR;

            .button-inner-circle {
                background-color: $BODY_COLOR;
            }

            .menu-section__button-text {
                color: $LIGHT_TEXT;
            }
        }

        &:disabled,
            button[disabled] {
                cursor: default;
        }

        @media (hover: none) and (pointer: coarse) {
            &:hover:not(:disabled) {
                cursor: none;
                background-color: $BODY_COLOR;
    
                .button-inner-circle {
                    background-color: $LIGHT_BORDER;
                }
    
                .menu-section__button-text {
                    color: $DARK_TEXT;
                }
            }
        }
    }

    &__articles {
        display: grid;
        transition: 0.6s;
        width: 100%;
        // grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
        grid-template-columns: repeat(auto-fill, 310px);
        justify-content: center;
        grid-auto-rows: auto;
        grid-auto-flow: row;
        -moz-column-gap: 40px;
        column-gap: 40px;
        row-gap: 39px;
        margin-top: -2px;
        justify-items: center;

        @media screen and (max-width: 768px) {
            margin-top: 1px;
            gap: 40px;
            padding: 0 14px;

            :nth-child(n + 5){
                display: none;
            }
        }

        @media screen and (max-width: 380px) {
            padding: 0 19px;
        }

    }

    &__article {
        $article-rounded: 40px;

        display: flex;
        flex-direction: column;
        position: relative;
        max-width: 310px;
        height: 506px;
        border-radius: $article-rounded;
        border: 1px solid $LIGHT_BORDER;
        transition: $smoothChange ease-in;

        .menu-section__item-image-wrap {
            position: relative;
            height: 310px;
            overflow: hidden;
            border-radius: $article-rounded;
        }

        .menu-section__item-image {
            width: 100%;
            height: 100%;
            -o-object-fit: cover;
            object-fit: cover;
            transform: scale(110%);
            transition: $smoothChange;
        }
        
        
        &:hover {
            cursor: pointer;
            
            .menu-section__item-image {
                transform: scale(100%);
                
            }
            
        }
        @media (hover: none) and (pointer: coarse) {
            cursor: none;

            &:hover .menu-section__item-image {
                transform: scale(110%);
            }

        }

        // @media screen and (max-width: 1439px) and (min-width: 1090px) {
        //     &:nth-child(3n + 1) {
        //         justify-self: end;
        //     }

        //     &:nth-child(3n + 2) {
        //         justify-self: center;
        //     }

        //     &:nth-child(3n + 3) {
        //         justify-self: start;
        //     }
        // }

        // @media screen and (max-width: 1089px) and (min-width: 769px) {
        //     &:nth-child(odd) {
        //         justify-self: end;
        //     }

        //     &:nth-child(even) {
        //         justify-self: start;
        //     }
        // }

    }

    &__item-info-wrap {
            @include secondaryFont($fontSize: 24px, $fontWeight: 600, $lineHeight: 125%);
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            gap: 12px;
            padding: 20px 19px;
    
            @media screen and (max-width: 768px) {
                padding: 20px 20px 18px;
            }
    
            .menu-section__item-heading {
                font-size: 24px;
            }
    
            .menu-section__item-description {
                font-size: 16px;
                font-weight: 400;
                line-height: 150%;
            }
    
            .menu-section__item-price {
                margin: auto 0 0 0
            }
    
    }
    
    &__refresh {
        display: none;
        justify-content: center;
    
        .refresh-button {
            $btnWidth: 60px;
            $btnHeight: $btnWidth;
            @include rounded-button($bgColor: $BODY_COLOR, $width: $btnWidth, $height: $btnHeight, $border: 1px solid $DARK_BORDER);
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.4s;

            &__image {
                $imgWidth: 24px;
                $imgHeight: $imgWidth;
                display: inline-block;
                width: $imgWidth;
                height: $imgHeight;
                background: center / cover no-repeat url(../../images/svg/refresh_dark.svg);
                transition: 0.4s;
            }

            &:hover {
                @extend %hovered;
                background-color: $CONTAINER_COLOR;

                :only-child {
                    @extend %invert-color;
                }
            }

            @media (hover: none) and (pointer: coarse) {
                &:hover {
                    cursor: pointer;
                    background-color: initial;
    
                    :only-child {
                        -webkit-filter: none;
                                filter: none;
                    }
                }
            }


        }

        @media screen and (max-width: 768px) {
            display: flex;
        }
    
    
    }



}