* {
  box-sizing: border-box;
  margin: 0;
  padding: 0%;
}

.accent-text {
  color: hsl(24, 25%, 58%);
  font-style: italic;
}

.footer-block__button:not(:disabled):hover, .mobile-app-section .mobile-app-section__button:not(:disabled), .favorites-coffee-section .slider__button:not(:disabled), .enjoy-section .enjoy-section__button:not(:disabled) {
  cursor: pointer;
  text-decoration: none;
}

.mobile-app-section .mobile-app-section__button:hover .button-icon__ios-icon, .mobile-app-section .mobile-app-section__button:hover .button-icon__android-icon, .favorites-coffee-section .slider__button.button-right:hover::after, .favorites-coffee-section .slider__button.button-left:hover:before {
  filter: invert(95%) sepia(35%) saturate(415%) hue-rotate(678deg) brightness(129%) contrast(78%);
}

.footer-block__button-facebook:hover, .footer-block__button-instagram:hover, .footer-block__button-twitter:hover {
  filter: invert(22%) sepia(6%) saturate(195%) hue-rotate(2deg) brightness(32%) contrast(91%);
}

.header-block .header-block__button-link, .footer-block .footer-block__button-link, .enjoy-section .enjoy-section__button-link {
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  text-decoration: none;
}

.footer-block .footer-block__button-link, .enjoy-section .enjoy-section__button-link {
  border-radius: 40px;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: hsl(28, 29%, 84%);
  display: grid;
  grid: 20px 1fr 40px/1fr minmax(380px, 1440px) 1fr;
  grid-template-areas: "... ... .." ".. cont .." ".. ... ..";
  font-style: normal;
}

.wrap-box {
  padding: 0 40px;
}

.layout-container {
  display: flex;
  flex-direction: column;
  flex-basis: 1440px;
  flex-shrink: 1;
  flex-grow: 1;
  grid-area: cont;
}

.header-block {
  margin-bottom: 20px;
}
.header-block .header-block__header {
  display: flex;
}
.header-block .header-block__wrap {
  padding: 15px 0 0;
}
.header-block .header-block__nav-wrap {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}
.header-block .header-block__nav-list {
  display: flex;
  gap: 40px;
  list-style-type: none;
}
.header-block .header-block__link,
.header-block .header-block__button {
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
  color: hsl(40, 2%, 25%);
  display: inline-block;
  box-sizing: content-box;
  padding: 5px 0 5px 0;
  text-decoration: none;
  cursor: pointer;
}
@keyframes appear {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}
.header-block .header-block__link:hover,
.header-block .header-block__button:hover {
  cursor: pointer;
  text-decoration: none;
}
.header-block .header-block__link:hover::after,
.header-block .header-block__button:hover::after {
  display: block;
  content: "";
  border: 2px solid hsl(40, 2%, 25%);
  border-radius: 5px;
  cursor: pointer;
  animation: appear 0.6s ease-out forwards;
}
.header-block .header-block__link::after,
.header-block .header-block__button::after {
  display: block;
  content: "";
  border: 2px solid hsla(40, 2%, 25%, 0);
  border-radius: 5px;
  transition: 0.6s ease;
}
.header-block .header-block__button {
  position: relative;
  display: inline-block;
  width: 72px;
  text-align: left;
  background-color: transparent;
  background: url(../../images/svg/coffee-cup.svg) no-repeat right top 5px;
  background-size: 20px;
  border: none;
}
.enjoy-section {
  margin-bottom: 100px;
}
.enjoy-section .enjoy-section__banner {
  width: 100%;
  padding: 100px;
  border-radius: 35px;
  background: url(../../images/img-hero.jpg) no-repeat right;
  background-size: cover;
}
.enjoy-section .enjoy-section__content-wrap {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 540px;
}
.enjoy-section .enjoy-section__heading {
  color: hsl(28, 29%, 84%);
  font-family: Inter;
  font-size: 72px;
  font-weight: 600;
  line-height: 105%;
}
.enjoy-section .enjoy-section__desc {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  color: hsl(28, 29%, 84%);
}
.enjoy-section .enjoy-section__button {
  width: 200px;
  height: 60px;
  background-color: hsl(28, 29%, 84%);
  border: 0 solid transparent;
  border-radius: 100px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  line-height: 180%;
  color: hsl(40, 2%, 25%);
  position: relative;
  transition: 0.6s;
}
.enjoy-section .enjoy-section__button::after {
  display: inline-block;
  content: "";
  position: absolute;
  top: 18px;
  right: 58px;
  width: 20px;
  height: 20px;
  background: url(../../images/svg/coffee-cup.svg) no-repeat right top 1px;
  background-size: contain;
  filter: opacity(0);
  transition: 0.6s;
}
.enjoy-section .enjoy-section__button:hover {
  padding-right: 18px;
}
.enjoy-section .enjoy-section__button:hover::after {
  filter: opacity(1);
}
.favorites-coffee-section {
  margin-bottom: 100px;
}
.favorites-coffee-section .favorites-coffee-section__heading {
  color: hsl(40, 2%, 25%);
  font-family: Inter;
  font-size: 60px;
  font-weight: 600;
  line-height: 125%;
  text-align: center;
  margin-bottom: 40px;
}
.favorites-coffee-section .favorites-coffee-section__slider {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.favorites-coffee-section .slider__represent-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.favorites-coffee-section .slider__button-wrap {
  display: flex;
  align-items: center;
  padding: 5px;
}
.favorites-coffee-section .slider__button {
  width: 60px;
  height: 60px;
  background-color: hsl(28, 29%, 84%);
  border: 1px solid hsl(35, 9%, 37%);
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}
.favorites-coffee-section .slider__button:hover {
  background-color: hsl(35, 9%, 37%);
}
.favorites-coffee-section .slider__button.button-left::before {
  display: inline-block;
  width: 24px;
  height: 24px;
  content: "";
  background: url(../../images/svg/arrow-left__dark.svg) no-repeat center;
  transition: 0.4s;
}
.favorites-coffee-section .slider__button.button-right::after {
  display: inline-block;
  width: 24px;
  height: 24px;
  content: "";
  background: url(../../images/svg/arrow-right__dark.svg) no-repeat center;
  transition: 0.4s;
}
.favorites-coffee-section .slider__content-wrap {
  flex-grow: 1;
}
.favorites-coffee-section .slider__articles {
  display: flex;
  justify-content: center;
}
.favorites-coffee-section .slider__article {
  max-width: 480px; /*just like the picture width*/
}
.favorites-coffee-section .slider__image-wrap {
  margin-bottom: 20px;
}
.favorites-coffee-section .slider__drink-info {
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: center;
}
.favorites-coffee-section .slider__drink-name,
.favorites-coffee-section .slider__drink-price {
  font-family: Inter;
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
  color: hsl(40, 2%, 25%);
}
.favorites-coffee-section .slider__drink-desk {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  color: hsl(40, 2%, 25%);
}
.favorites-coffee-section .slider__pagination-block {
  display: flex;
  justify-content: center;
}
.favorites-coffee-section .slider__pagination-buttons {
  display: flex;
  gap: 12px;
}
.favorites-coffee-section .slider__pagination-button {
  display: inline-block;
  width: 40px;
  height: 4px;
  background-color: hsl(27, 14%, 72%);
  border-radius: 100px;
}
.favorites-coffee-section .slider__pagination-button.slider__pagination-button--active {
  background-color: hsl(35, 9%, 37%);
}

.about-section {
  margin-bottom: 100px;
}
.about-section .about-section___desc {
  color: hsl(40, 2%, 25%);
  font-family: Inter;
  font-size: 60px;
  font-weight: 600;
  line-height: 125%;
  margin-bottom: 40px;
}
.about-section .about-section___photos-wrap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}
.about-section .about-section___photo-container {
  position: relative;
  width: 660px;
  border-radius: 20px;
  overflow: hidden;
}
.about-section .about-section___photo-container.photo-big {
  height: 590px;
  grid-row: span 2;
}
.about-section .about-section___photo-container.photo-small {
  height: 430px;
  grid-row: span 1;
}
.about-section .about-section___photo-container.photo1 {
  order: 1;
}
.about-section .about-section___photo-container.photo2 {
  order: 5;
}
.about-section .about-section___photo-container.photo3 {
  order: 2;
}
.about-section .about-section___photo-container.photo4 {
  order: 4;
}
.about-section .about-section___photo {
  position: absolute;
  transition: 0.9s;
}
.about-section .about-section___photo.image-1 {
  top: -68px;
  right: -34px;
  transform: scale(100%);
}
.about-section .about-section___photo.image-2 {
  top: -153px;
  right: -34px;
  transform: scale(100%);
}
.about-section .about-section___photo.image-3 {
  top: -153px;
  right: -32px;
  transform: scale(100%);
}
.about-section .about-section___photo.image-4 {
  top: -68px;
  right: -34px;
  transform: scale(100%);
}
.about-section .about-section___photo:hover {
  transform: scale(91%);
}

.mobile-app-section {
  margin-bottom: 100px;
}
.mobile-app-section .mobile-app-section__content-wrap {
  display: flex;
  justify-content: space-between;
  gap: 100px;
}
.mobile-app-section .mobile-app-section__info-wrap {
  display: flex;
  align-items: center;
}
.mobile-app-section .mobile-app-section__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;
}
.mobile-app-section .mobile-app-section__heading {
  color: hsl(40, 2%, 25%);
  font-family: Inter;
  font-size: 60px;
  font-weight: 600;
  line-height: 125%;
}
.mobile-app-section .mobile-app-section__desc {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  color: hsl(40, 2%, 25%);
}
.mobile-app-section .mobile-app-section__buttons {
  display: flex;
  gap: 20px;
}
.mobile-app-section .mobile-app-section__button {
  width: 200px;
  height: 64px;
  background-color: rgba(1, 1, 1, 0);
  border: 1px solid hsl(35, 9%, 37%);
  border-radius: 100px;
  display: flex;
  gap: 8px;
  padding: 12px 20px;
  transition: 0.6s;
}
.mobile-app-section .mobile-app-section__button .button-icon {
  display: block;
  width: 36px;
  height: 36px;
}
.mobile-app-section .mobile-app-section__button .button-icon__ios-icon {
  background: url(../../images/svg/icon_ios.svg) no-repeat center top 0px;
  background-size: 34px;
}
.mobile-app-section .mobile-app-section__button .button-icon__android-icon {
  background: url(../../images/svg/icon_android__dark.svg) no-repeat center top 0px;
  background-size: 34px;
}
.mobile-app-section .mobile-app-section__button .button-text-small {
  font-family: Inter;
  font-size: 10px;
  font-weight: 600;
  line-height: 140%;
  color: hsl(40, 2%, 25%);
  display: block;
  text-align: start;
}
.mobile-app-section .mobile-app-section__button .button-text-big {
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
  color: hsl(40, 2%, 25%);
  display: block;
  text-align: start;
}
.mobile-app-section .mobile-app-section__button:hover {
  background-color: hsl(35, 9%, 37%);
}
.mobile-app-section .mobile-app-section__button:hover .button-text-small,
.mobile-app-section .mobile-app-section__button:hover .button-text-big {
  color: hsl(28, 29%, 84%);
}
.footer-block__content-wrap {
  display: flex;
  flex-direction: row;
  gap: 100px;
  padding: 100px;
  background-color: hsl(35, 9%, 37%);
  border-radius: 40px;
}
.footer-block__socials {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;
  max-width: 530px;
}
.footer-block__heading {
  color: hsl(28, 29%, 84%);
  font-family: Inter;
  font-size: 60px;
  font-weight: 600;
  line-height: 125%;
}
.footer-block__buttons {
  display: flex;
  gap: 12px;
}
.footer-block__button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background-color: hsl(35, 9%, 37%);
  border: 1px solid hsl(27, 14%, 72%);
  border-radius: 100px;
  transition: 0.6s;
}
.footer-block__button-twitter {
  display: inline-block;
  width: 60px;
  height: 60px;
  background: url(../../images/svg/ico_twitter__light.svg) no-repeat center;
  transition: 0.6s;
}
.footer-block__button-instagram {
  display: inline-block;
  width: 60px;
  height: 60px;
  background: url(../../images/svg/icon_instagram__light.svg) no-repeat center;
  transition: 0.6s;
}
.footer-block__button-facebook {
  display: inline-block;
  width: 60px;
  height: 60px;
  background: url(../../images/svg/ico_facebook__light.svg) no-repeat center;
  transition: 0.6s;
}
.footer-block__button:hover {
  background-color: hsl(28, 29%, 84%);
}
.footer-block .footer-block__button-link {
  border-radius: 100px;
}
.footer-block__contact-us {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 32px 0;
}
.footer-block__contact-us-heading {
  font-family: Inter;
  font-size: 24px;
  font-weight: 600;
  line-height: 150%;
  color: hsl(28, 29%, 84%);
}
.footer-block__contacts-wrap {
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
  color: hsl(28, 29%, 84%);
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer-block__line-wrap {
  width: -moz-fit-content;
  width: fit-content;
  list-style: none;
}
.footer-block__line-wrap .line-icon {
  position: relative;
  top: 3px;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 8px;
}
.footer-block__line-wrap .line-icon.footer-block__location-icon {
  background: url(../../images/svg/pin-alt.svg) no-repeat center;
}
.footer-block__line-wrap .line-icon.footer-block__phone-icon {
  background: url(../../images/svg/ico_phone__light.svg) no-repeat center;
}
.footer-block__line-wrap .line-icon.footer-block__clock-icon {
  background: url(../../images/svg/ico_clock__light.svg) no-repeat center;
}
.footer-block__link {
  color: hsl(28, 29%, 84%);
  text-decoration: none;
}
@keyframes appear {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}
.footer-block__link:hover {
  cursor: pointer;
  text-decoration: none;
}
.footer-block__link:hover::after {
  display: block;
  content: "";
  border: 0.5px solid hsl(28, 29%, 84%);
  border-radius: 5px;
  cursor: pointer;
  animation: appear 0.6s ease-out forwards;
}
.footer-block__link::after {
  display: block;
  content: "";
  border: 0.5px solid hsla(40, 2%, 25%, 0);
  border-radius: 5px;
  transition: 0.6s ease;
}

body [hidden] {
  display: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  background: hsla(40, 2%, 25%, 0.8);
}
.backdrop .popup {
  display: block;
  position: absolute;
  width: 800px;
  height: auto;
  padding: 16px;
  background: hsl(28, 29%, 84%);
  border-radius: 40px;
  overflow: hidden;
}
.backdrop .popup__order-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}
.backdrop .popup__order-photo-wrap {
  display: block;
  max-height: 310px;
  max-width: 310px;
  flex-shrink: 0;
  border-radius: 40px;
  overflow: hidden;
}
.backdrop .popup__order-photo {
  border-radius: inherit;
  transform: scale(115%);
}
.backdrop .popup__item-info-wrap {
  max-width: 438px;
  flex-shrink: 0;
}
.backdrop .popup__item-name {
  color: hsl(40, 2%, 25%);
  font-family: Inter;
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
  margin-bottom: 12px;
}
.backdrop .popup__order-info {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  color: hsl(40, 2%, 25%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}
.backdrop .popup__order-heading {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  color: hsl(40, 2%, 25%);
  margin-bottom: 8px;
}
.backdrop .popup__button-wrap {
  display: flex;
  gap: 8px;
}
.backdrop .popup__order-button {
  width: auto;
  height: auto;
  background-color: hsl(28, 29%, 84%);
  border: 1px solid hsl(27, 14%, 72%);
  border-radius: 100px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
  color: hsl(40, 2%, 25%);
  display: flex;
  justify-content: flex-start;
  gap: 8px;
  padding: 8px 16px 8px 8px;
  transition: 0.6s;
}
.backdrop .popup__order-button .button-inner-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: hsl(27, 14%, 72%);
  border-radius: 100px;
  transition: 0.6s;
}
.backdrop .popup__order-button .button-text {
  position: relative;
  top: 3px;
  transition: 0.6s;
}
.backdrop .popup__order-button--active {
  background-color: hsl(35, 9%, 37%);
  border-color: hsl(35, 9%, 37%);
}
.backdrop .popup__order-button--active .button-inner-circle {
  background-color: hsl(28, 29%, 84%);
}
.backdrop .popup__order-button--active .button-text {
  color: hsl(28, 29%, 84%);
}
.backdrop .popup__order-button:hover {
  cursor: pointer;
  background-color: hsl(35, 9%, 37%);
  border-color: hsl(35, 9%, 37%);
}
.backdrop .popup__order-button:hover .button-inner-circle {
  background-color: hsl(28, 29%, 84%);
}
.backdrop .popup__order-button:hover .button-text {
  color: hsl(28, 29%, 84%);
}
.backdrop .popup__order-button:disabled,
.backdrop .popup__order-button button[disabled] {
  cursor: default;
}
.backdrop .popup__order-button.submit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.backdrop .popup__order-button.submit-button:hover {
  color: hsl(28, 29%, 84%);
}
.backdrop .popup__order-total-wrap {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.backdrop .popup__order-total-container {
  display: flex;
}
.backdrop .popup__order-total, .backdrop .popup__order-price {
  color: hsl(40, 2%, 25%);
  font-family: Inter;
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
}
.backdrop .popup__order-price {
  margin: 0 0 0 auto;
}
.backdrop .popup__order-total-warning {
  display: flex;
  flex-direction: row;
  gap: 8px;
  padding: 12px 0;
  border-top: 1px solid hsl(27, 14%, 72%);
}
.backdrop .popup__warning-sign {
  display: block;
  width: 30px;
  height: 16px;
  background: url(../../images/svg/ico_info-empty.svg) no-repeat center;
  background-size: cover;
}
.backdrop .popup__warning-text {
  color: hsl(40, 2%, 25%);
  font-family: Inter;
  font-size: 10px;
  font-weight: 600;
  line-height: 140%;
}

.header-block__button--disabled {
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
  color: hsl(40, 2%, 25%);
  display: inline-block;
  box-sizing: content-box;
  width: 72px;
  padding: 5px 0 5px 0;
  text-align: left;
  text-decoration: none;
  background: url(../../images/svg/coffee-cup.svg) no-repeat right top 5px;
  background-color: transparent;
  background-size: 20px;
  border: none;
}
.header-block__button--disabled::after {
  display: block;
  content: "";
  border: 2px solid hsl(40, 2%, 25%);
  border-radius: 5px;
}

.menu-section {
  margin-bottom: 100px;
}
.menu-section__content-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.menu-section__heading {
  color: hsl(40, 2%, 25%);
  font-family: Inter;
  font-size: 60px;
  font-weight: 600;
  line-height: 125%;
  max-width: 800px;
  text-align: center;
}
.menu-section__buttons {
  display: flex;
  justify-content: center;
  gap: 16px;
}
.menu-section__button {
  width: 200px;
  height: 60px;
  background-color: hsl(28, 29%, 84%);
  border: 1px solid hsl(27, 14%, 72%);
  border-radius: 100px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
  color: hsl(40, 2%, 25%);
  display: flex;
  gap: 8px;
  width: 115px;
  height: 46px;
  padding: 8px;
  transition: 0.6s;
}
.menu-section__button .button-inner-circle {
  display: block;
  width: 30px;
  height: 30px;
  padding: 0 7px;
  background-color: hsl(27, 14%, 72%);
  border-radius: 100px;
  transition: 0.6s;
}
.menu-section__button .button-inner-circle.coffee-circle {
  background-image: url(../../images/svg/coffee_Vector.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.menu-section__button .button-inner-circle.tea-circle {
  background-image: url(../../images/svg/teapot_Vector.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.menu-section__button .button-inner-circle.dessert-circle {
  background-image: url(../../images/svg/dessert_Vector.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.menu-section__button-text {
  display: block;
  padding-top: 2px;
  transition: 0.6s;
}
.menu-section__button--active {
  background-color: hsl(35, 9%, 37%);
}
.menu-section__button--active .button-inner-circle {
  background-color: hsl(28, 29%, 84%);
}
.menu-section__button--active .menu-section__button-text {
  color: hsl(28, 29%, 84%);
}
.menu-section__button:hover {
  cursor: pointer;
  background-color: hsl(35, 9%, 37%);
}
.menu-section__button:hover .button-inner-circle {
  background-color: hsl(28, 29%, 84%);
}
.menu-section__button:hover .menu-section__button-text {
  color: hsl(28, 29%, 84%);
}
.menu-section__button:disabled,
.menu-section__button button[disabled] {
  cursor: default;
}
.menu-section__articles {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 40px;
}
.menu-section__article {
  display: flex;
  flex-direction: column;
  max-width: 310px;
  border-radius: 40px;
  border: 1px solid hsl(27, 14%, 72%);
  transition: 0.6s;
}
.menu-section__article .menu-section__item-image-wrap {
  overflow: hidden;
  border-radius: 40px;
}
.menu-section__article .menu-section__item-image {
  transform: scale(115%);
  transition: 0.6s;
}
.menu-section__article:hover {
  cursor: pointer;
}
.menu-section__article:hover .menu-section__item-image {
  transform: scale(100%);
}
.menu-section__item-info-wrap {
  font-family: Inter;
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
  color: hsl(40, 2%, 25%);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 12px;
  padding: 20px;
}
.menu-section__item-info-wrap .menu-section__item-description {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  color: hsl(40, 2%, 25%);
}
.menu-section__item-info-wrap .menu-section__item-price {
  margin: auto 0 0 0;
}/*# sourceMappingURL=main.css.map */