.js-menu_active {
    transform: translateX(0);
}

//use with burger menu active
.js-body_no-scroll {
    position: fixed;
}

.js-burger-button_become-close {
    .burger__line_first {
        transform: rotate(45deg);
    }

    .burger__line_second {
        transform: rotate(-45deg);
    }
}

.js-pagination-button_active {
    background-color: $DARK_BORDER!important;
}


.js-coloring {
    -webkit-animation: coloring 6s ease-out forwards!important;
                animation: coloring 6s ease-out forwards!important;

    @-webkit-keyframes coloring {
        0% {
            width: 0%;
        }
        100% {
            width: 100%;
        }
    }
    @keyframes coloring {
        0% {
            width: 0%;
        }
            100% {
                width: 100%;
            }
    }
}

.js-expose-hidden-cards {
    
    :nth-child(n + 5){
        display: block!important;
    }
}

.js-hide {
    display: none!important;
}