//text colors
$DARK_TEXT: hsla(40, 2%, 25%, 1);
$LIGHT_TEXT: hsla(28, 29%, 84%, 1);
$ACCENT_TEXT: hsla(24, 25%, 58%, 1);

//body colors
$BODY_COLOR: hsla(28, 29%, 84%, 1);
$CONTAINER_COLOR: hsla(35, 9%, 37%, 1);
$BACKDROP_COLOR: hsla(40, 2%, 25%, 0.8);

//border colors
$LIGHT_BORDER: hsla(27, 14%, 72%, 1);
$DARK_BORDER: hsla(35, 9%, 37%, 1);

